@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #BAEEFF;
}

#flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin-right: 210px;
}


.placing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #fff;
    font-family: Inder, sans-serif;
    font-size: 7rem;
}

.goose {
    position: absolute;
    height: 75%;
    bottom: 0;
    margin-left: 50px;
}


#two {
    display: flex;
    justify-content: space-between;
    width: 130%;
    margin-top: 20px;
}


.text {
    color: #fff;
    font-family: Inder, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}


/* ---------------------------------------------------------- */


.slidecontainer {
    margin-top: 28px;
    display: flex;
}

.slider {
    appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 10px;
    background: #F5F5F5;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00A7DD;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00A7DD;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #04C2FF;
}


/* ---------------------------------------------------------- */


.btn {
    margin-top: 7px;
    width: 200px;
    color: #fff;
    font-family: Inder, sans-serif;
    background-color: #00A7DD;
    border: none;
    font-size: 1.8rem;
    border-radius: 20px;
}

.btn:hover {
    background-color: #04C2FF;
}

.btn-secondary {
    background-color: #00A7DD;
}


.btn-secondary {
    --bs-btn-active-bg: #00A7DD;
}

.dropdown-menu {
    font-family: Inder, sans-serif;
    background-color: #00A7DD;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #04C2FF;
    color: #fff;
}



/* ---------------------------------------------------------- */

/* Customize the label (the container) */
.container {
    margin-bottom: 10px;
    margin-right: 110px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #BAEEFF;
    border: solid 7px #00A7DD;
    border-radius: 20px;
}

.checkmark:hover {
    background-color: #04C2FF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #00A7DD;
}

.container input:checked~.checkmark:hover {
    background-color: #04C2FF;
}

/* ---------------------------------------------------------- */


.back {
    background-color: #00A7DD;
    color: #fff;
    border: none;
    border-radius: 35px;
    color: #fff;
    margin: 20px;
    width: 200px;
    height: 80px;
    margin-top: 37px;
    cursor: pointer;
}

.back:hover {
    background-color: #05BAF4;
}

a {
    text-decoration: none;
    color: #fff;
}

.arrow {
    padding-top: 5px;
    width: 80px;
}